<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>NOMBRE RESTAURANTE</th>
                <th>DESCRIPCION RESTAURANTE</th>
                <th class="center">DIRECCION</th>
                <th class="center">PRECIO MEDIO</th>
                <th class="center">OFERTAS</th>
            </tr>
        </thead>
    </table>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr *ngFor="let restaurante of restaurantes">
                    <td>{{restaurante.nombre}}</td>
                    <td>{{restaurante.descripcion}}</td>
                    <td class="center">{{restaurante.direccion}}</td>
                    <td class="center">{{restaurante.precio}}</td>
                    <td> <button [routerLink]="restaurante.$key">OFERTAS!!</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
